@inherits LayoutComponentBase
 
<Layout style="margin:24px;padding:24px">
        <Main>
            @Body
        </Main>
        <Footer>Author <a href="https://space.bilibili.com/185636167">MIAIONE</a> ©2021-@DateTime.Now.Year.ToString() Created by .NET6 Blazor WebAssembly </Footer>
</Layout>