@page "/make"
@page "/"
@inject NavigationManager navigationManager
<h1>链接伪装(头部请保留http://或https:// ， ...其实私有协议也是可以的)</h1>
<center>
<br />
源链接：
<input @bind-value=@InputUrl style="width:70%;margin:8px" />
<br />
加密后：
<input @bind-value=@OutputUrl style="width:70%;margin:8px" />
<br />
<Button OnClick="@CreateUrl" Text="生成链接" Color="Color.Primary" />
<br />

</center>
@code{
    [Parameter]
    public string InputUrl { get; set; } = "";
    [Parameter]
    public string OutputUrl { get; set; } = ""; 
    public void CreateUrl()
    {
        if (string.IsNullOrEmpty(InputUrl)==false)
        {
          OutputUrl = "https://mirror-cdn.github.io/api?Url="+ HttpUtility.UrlEncode(Ext.StringToGZip(InputUrl));  
        }        
    }
} 